<p class="lead">
<%= I18n.translate "hello" %>
<%= link_to (I18n.translate "post"), new_post_path %>
<%= I18n.translate "language" %>
      <%= link_to "PL", set_language_path( locale: "pl" ) %>
      <%= link_to "EN", set_language_path( locale: "en" ) %>
    
</p>

<% @posts.reverse.each do |post| %>
    <blockquote>
    <p><%= post.body %></p>
    <footer> <%= post.author %> </footer>
    </blockquote>
<% end %>
