<p class="lead">
<%= I18n.translate "hello" %>
<%= link_to "Dodaj swój wpis.", new_post_path %>
<%= I18n.translate "language" %>
      <a href="#">EN</a>
      <a href="#">PL</a>
    
</p>

<% @posts.reverse.each do |post| %>
    <blockquote>
    <p><%= post.body %></p>
    <footer> <%= post.author %> </footer>
    </blockquote>
<% end %>
